<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The only permission this app needs. It asks for no contacts, no
         location and no camera: photos come from the system picker, which
         hands over one file without granting access to the library. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="ejioji"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Where Google sends the browser back to after the consent
                 screen. It is an App Link rather than a custom scheme on
                 purpose: a custom scheme can be claimed by any other app on
                 the device, which would hand somebody else the authorization
                 code. android:autoVerify makes Android check the host's
                 assetlinks.json before it will route the link here.

                 TODO(infra): OAUTH_REDIRECT_HOST below is a placeholder. Set
                 it to the host in the backend's GOOGLE_REDIRECT_URI, and serve
                 /.well-known/assetlinks.json from it with this app's package
                 name and signing certificate fingerprint. Until both match,
                 the redirect opens a browser tab instead of the app and no
                 source can be connected. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="OAUTH_REDIRECT_HOST"
                    android:pathPrefix="/oauth"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>

        <!-- Android 11 and later hide other apps unless they are declared
             here. Without this, url_launcher cannot see that a browser exists
             and the consent page silently fails to open. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
